<h1>Domains</h1>


<%= form_tag domains_path, method: "get", role: "form", class: "form-inline" do %>
	<div class="form-group">
		<%= label_tag :first_name, "First Name", class: "sr-only" %>
		<%= text_field_tag :first_name, params[:first_name], class: "form-control", placeholder: "First Name" %>
	</div>
	<div class="form-group">
		<%= label_tag :last_name, "Last Name", class: "sr-only" %>
		<%= text_field_tag :last_name, params[:last_name], class: "form-control", placeholder: "Last Name"%>
	</div>
	<div class="form-group">
		<%= label_tag :search, "Domain", class: "sr-only" %>
		<%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Domain" %>
	</div>
	
	<%= submit_tag "Search", name: nil, class: "btn btn-large btn-primary" %>
<% end %>

<ul>
	<% @domains.each do |domain| %>
		<li><%= link_to "#{domain.name}", domain_path(domain) %></li>
	<% end %>
</ul>