<h1>Search Result</h1>

<div class="row">
	<div class="col-md-2">
		<div class="search_form">
			<%= form_for @new_search do |f| %>
				<div class="form-group">
					<%= f.label :first_name %>
					<%= f.text_field :first_name, class: "form-control" %>
				</div>
				<div class="form-group">
					<%= f.label :last_name %>
					<%= f.text_field :last_name, class: "form-control" %>
				</div>
				<div class="form-group">
					<%= f.label :domain_name %>
					<%= f.text_field :domain_name, class: "form-control" %>
				</div>
				<div class="submit">
					<%= f.submit "Search", class: "btn btn-primary" %>
				</div>
			<% end %>
		</div>
	</div>
	<div class="col-md-4 col-md-offset-2">
		<table>
			<% if @emails.any? %>
				<% @emails.each do |format, email| %>
					<tr>
						<td class="email">
							<div ><h4><%= email[0] %></h4></div>
						</td>
		<!-- 				<td>
							<div class="vote">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span id="score"><%= Configuration.with_domain_id_and_email_format_id(@domain.id, @domain.email_formats.find_by_format(format).id).first.score %></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</td> -->
						<td class="confirmation">
							<% if email[1]/100 == 2 %>
								<span class="glyphicon glyphicon-ok"></span>
							<% else %>
								<span class="glyphicon glyphicon-remove"></span>
							<% end %>

						</td>
					</tr>
					<% end %>
			<% else %>
				<p>No email format found</p>
			<% end %>
		</table>
	</div>

</div>