<h1>Search Result</h1>

<div class="row">
	<div class="col-md-2 col-md-offset-1">
		<div class="search_form">
			<%= form_for @new_search do |f| %>
				<div class="form-group">
					<%= f.label :full_name %>
					<%= f.text_field :full_name, class: "form-control" %>
				</div>
				<div class="form-group">
					<%= f.label :domain_name %>
					<%= f.text_field :domain_name, class: "form-control" %>
				</div>
				<div class="submit">
					<%= f.submit "Search", class: "btn btn-primary", data: { disable_with: 'Searching...'} %>
				</div>
			<% end %>
		</div>
	</div>
	<div class="col-md-4 col-md-offset-1">
		<table>
			<% if @search.results.any? %>
				<% display = false %>
				<% @search.results.each do |email, response| %>
					<% response = response.to_i %>
					<% if response/100 == 2 %>
						<tr>
							<td class="email">
								<div ><h4><%= email %></h4></div>
							</td>
							<td class="confirmation">
								<% if response/100 == 1 %>
									<span class="glyphicon glyphicon-exclamation-sign"></span>
								<% elsif response == 200 %>
									<% display = true %>
									<span class="glyphicon glyphicon-ok-sign"></span>
								<% elsif response == 207 or response == 215 %>
									<% display = true %>
									<span class="glyphicon glyphicon-question-sign"></span>
								<% end %>
							</td>
						</tr>
					<% end %>
				<% end %>
				<% if display == false %>
					<p id="no_result">Sorry, no emails found<p>
				<% end %>
			<% end %>
		</table>
	</div>
	<div class="col-md-2 col-md-offset-1">
		<table class="legend">
			<tr class="legend_item">
				<td><span class="glyphicon glyphicon-ok-sign"></span></td>
				<td><strong>Confirmed</strong></td>
			</tr>
			<tr>
				<td><span class="glyphicon glyphicon-question-sign"></span></td>
				<td><strong>Possible</strong></td>
			</tr>
		</table>
	</div>
</div>