<!DOCTYPE html>
<html>
<head>
  <title>ELYZA</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default", role="navigation">
		<div class="navbar-inner">
			<div class="container">
				<%= link_to "ELYZA", root_path, id: "logo" %>
				<ul class = "nav navbar-nav navbar-right">
				</ul>
			</div>
		</div>
	</nav>
	<%= yield %>
</body>
</html>
