<!DOCTYPE html>
<html>
<head>
  <title>Linqly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-inverse", role="navigation">
		<div class="navbar-inner">
			<div class="container">
				<%= link_to "Mailer.IO", root_path, id: "logo" %>
				<ul class = "nav navbar-nav navbar-right">
					<li><%= link_to "Search", new_search_path %></li>
<!-- 					<li><%= link_to "Domains", domains_path %></li>
					<li><%= link_to "Email Formats", email_formats_path %></li> -->
				</ul>
			</div>
		</div>
	</nav>
	<%= yield %>
</body>
</html>
